* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: black;
}

#time {
  font-size: 80px;
  font-weight: 700;
}

.h1 {
  margin-bottom: 30px;
}

.h2 {
  margin-bottom: 5px;
  opacity: 0.6;
}